{% extends 'base.html' %} {% block body %}
<div class="details">
  <div class="res-dimg">
    <img src="" alt="res Image" />
  </div>
  <div class="res-details">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio incidunt ea
    voluptatum? Provident consequuntur aliquid magni ad repellat saepe
    consequatur quidem aperiam necessitatibus doloribus illum, ipsa itaque nulla
    voluptas aliquam exercitationem ullam culpa ab officiis quaerat non
    laboriosam quam sapiente nihil. Alias esse rerum earum eaque repellendus
    harum doloremque perferendis, iure beatae enim magnam saepe mollitia,
    maiores sunt iste? Odit possimus rem quo nihil inventore, eius ullam at
    vitae adipisci. Est harum aperiam, provident repellat neque assumenda. Aut
    minima magnam expedita nostrum voluptate velit repellat dolore rerum, iusto,
    nobis quis eligendi ipsam quasi in, illum ullam reiciendis aperiam facere!
    Non iste sed quidem quas obcaecati eum, temporibus error commodi ipsam
    ducimus, reprehenderit consequuntur voluptates assumenda recusandae eos
    asperiores maxime, blanditiis at a? Eum reprehenderit quod beatae tenetur
    asperiores aperiam voluptate adipisci, ipsum minus quam in dignissimos
    sapiente fugiat suscipit, nostrum omnis porro, deleniti voluptatum! Tempora
    necessitatibus ut mollitia non expedita doloribus sequi laborum architecto
    enim sed dolore amet sint, et ad doloremque est? Maxime assumenda
    voluptatibus laudantium blanditiis, illo dignissimos hic necessitatibus
    debitis sunt nesciunt, dolor, asperiores vel. Neque quo in maxime amet
    mollitia nemo esse temporibus accusantium! Laborum repellendus voluptates
    iste rem praesentium in, distinctio, non delectus exercitationem beatae
    repudiandae natus minima illum sit id tempore est magnam sed facere
    laboriosam harum ut. Voluptatibus laboriosam iusto cupiditate sunt officiis
    labore corporis voluptate incidunt aperiam atque consequatur nulla quisquam
    veritatis reprehenderit ab explicabo, fugiat veniam eaque iste perferendis
    beatae. Rem a blanditiis mollitia dolor illum officia nam. Minima
    necessitatibus error nemo enim, eveniet optio et numquam labore magnam
    fugiat ea magni suscipit laudantium unde cum neque non placeat vero.
    Commodi, accusamus? Porro cupiditate distinctio facilis perspiciatis modi
    dolorem eos odio temporibus voluptas atque nulla beatae sint, natus, facere
    veniam, necessitatibus vero ducimus explicabo. Rem debitis a itaque. Dolores
    tempore voluptas nemo iure quasi? Dolorum, fugit ea? Atque voluptatem libero
    consequuntur eligendi. Earum quia saepe qui dolor excepturi, corrupti
    reprehenderit quod eligendi ea cum quidem! Assumenda voluptatibus facilis
    unde, cumque animi magni facere? Aliquam odio iusto quas, suscipit quaerat
    consequatur reiciendis quos sit placeat debitis a explicabo, nemo nihil
    voluptas enim dolorum et ad, hic neque numquam veritatis esse architecto
    ipsa! Ad esse fugit voluptates tempore similique quidem, suscipit dolores
    tenetur est sed asperiores error dolore officiis sequi id sapiente
    dignissimos, consequatur, expedita autem nulla libero. Perferendis porro
    ullam iste ex ut! Voluptate iusto accusantium culpa tempore eius. Eos modi
    quis cupiditate fugit reiciendis tempore, nesciunt excepturi accusantium
    dolorem amet, facere sit voluptas nemo, sapiente nisi sequi labore mollitia
    soluta. Quis cupiditate dolorum, eius veniam, iste quod non quo quia dolore
    sit beatae eos distinctio sapiente dicta modi magni cum fuga ipsam. A
    corrupti iste delectus fugiat consequatur deleniti iure est quo? Perferendis
    debitis fugit veritatis repellat similique, temporibus quia, quam
    praesentium illum necessitatibus ducimus voluptatibus hic facere magnam amet
    quas. Impedit quo delectus possimus facere illo omnis aliquam magnam et id
    incidunt, dolorem molestias alias unde hic recusandae neque atque voluptatem
    nemo. Esse quas, eveniet nemo totam pariatur culpa iste officiis ab!
    Provident aliquid sapiente saepe debitis minus suscipit delectus esse
    libero, laudantium nisi? Possimus autem, aperiam deserunt laboriosam
    adipisci consequatur voluptatum recusandae impedit natus, alias amet aliquid
    obcaecati itaque! Obcaecati, aperiam eum? Ducimus quo laboriosam neque porro
    modi delectus qui aliquid quas, est ad? Natus, exercitationem voluptatibus
    quo sapiente veritatis ut odio dolor a animi quas dolorum ab illum? Soluta
    unde neque consectetur explicabo provident aut temporibus voluptates
    necessitatibus, ex praesentium consequatur culpa quasi cumque quaerat omnis!
    Esse eveniet distinctio quae! Hic possimus neque in deleniti expedita
    placeat adipisci culpa impedit nulla sequi rem eligendi asperiores eius,
    ipsa minus excepturi voluptatum iusto doloribus minima libero? Perspiciatis,
    eveniet saepe placeat culpa nesciunt adipisci nulla quas distinctio ex,
    quaerat a beatae vitae, quos libero enim reiciendis. Veniam voluptatum nemo
    modi corporis ipsam earum quia repellat eveniet esse vero eos exercitationem
    quam praesentium, quis laudantium fugiat assumenda iusto minima. Amet, totam
    quam iure beatae debitis ipsam ea cumque in ex quidem earum vitae sequi
    molestias praesentium quia eius optio inventore, corrupti, dolorum nam
    veniam corporis at. Incidunt sunt consequatur possimus temporibus rerum
    quidem eos earum aspernatur voluptates culpa suscipit fugit deserunt, vero
    architecto consequuntur, quas accusamus voluptatem veritatis et esse
    officiis? Ex quis libero a assumenda vero eum architecto aliquid quod
    accusantium illo, necessitatibus quasi animi, enim commodi quisquam
    explicabo aperiam. Ullam nisi ducimus repudiandae saepe magni dolor minima
    sint, dolores obcaecati sapiente, nihil error maiores voluptatibus.
    Deserunt, adipisci consequatur aspernatur ipsam rerum nulla tempora,
    accusantium repellendus sapiente architecto velit maiores, nesciunt
    consectetur inventore. Fugiat tempore veniam ex laudantium enim sit ratione
    aut nam accusamus, qui, dolor sint adipisci similique cum sapiente facilis
    voluptatum fuga tenetur alias eligendi. Suscipit quos et natus beatae
    debitis at minus, iure saepe mollitia soluta quasi, doloremque labore error
    accusamus deserunt omnis voluptatum nesciunt molestiae, voluptatem ducimus
    voluptates exercitationem facilis fugit quam. Culpa, maiores exercitationem
    vitae ratione laudantium magni quae voluptates voluptatem aliquam unde?
    Illum, sit quidem nam cupiditate debitis eligendi numquam? Autem soluta,
    magni quis incidunt praesentium cumque, expedita, consectetur natus
    dignissimos sint temporibus vel voluptatibus repudiandae dolores.
    Consectetur earum quisquam sequi? Magnam, aspernatur aut quis adipisci et
    illo itaque laudantium praesentium, eligendi perferendis nisi officia.
    Temporibus doloribus at quod asperiores possimus aut provident consequatur
    impedit perferendis ipsum. Officiis quos qui consectetur temporibus repellat
    soluta! Maxime commodi odit fugit, aliquam reprehenderit harum blanditiis
    aspernatur accusantium minus aut, temporibus perspiciatis dolor? Fugit
    excepturi consequuntur error impedit, voluptatibus ratione pariatur! Ipsa
    aliquam vitae, quasi cumque commodi dignissimos, tenetur minima voluptatum
    voluptatibus veritatis accusamus dicta corporis eius! Adipisci nihil
    reprehenderit perferendis. Nobis totam, id saepe sequi, magnam ducimus quod
    minus reprehenderit eius non odit cum est! Distinctio, molestiae nemo,
    ducimus sequi voluptatibus pariatur saepe eum harum non voluptas error,
    maxime fugiat aperiam ex? Aspernatur ab maxime incidunt excepturi libero
    totam facere in, distinctio qui eveniet quos, neque non. Unde animi dolore
    aliquid sed reprehenderit non temporibus omnis? Laboriosam autem dignissimos
    perspiciatis magnam totam vel ipsa optio? Voluptatibus officiis labore
    repellat iste tenetur dolore id minima sapiente, asperiores corrupti atque?
  </div>
</div>
{% endblock body %}
