{% extends 'base.html' %} {% block body %}
<div class="form">
  <h2 class="text-center">
    Search For A Meal
  </h2>
  <form action="/" method="post">
    <input type="text" name="meal" id="" class="myfield" />
    <input type="submit" value="Search" class="mybtn text-center" />
  </form>
</div>

<div class="results">
  <div class="result-list">
    {% for r in results.results %}
    <div class="res">
      <img
        src="{{r.thumbnail}}"
        class="res-img"
        alt="Meal Image Not Available"
      />
      <h3>{{r.title}}</h3>
      <h4>Ingredients:</h4>
      <p>
        {{r.ingredients}}
      </p>
      <br />
      <a href="{{r.href}}" class="resbtn">RECIPES</a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock body %}
